body{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
body>header{
    display:grid;
    grid-column: 1 / 3;
    row-gap:0;
}
body>header>h1{
    grid-column: 1 / 3;
}
body>header>div{
    justify-self: end;
    padding: 1em;
}
ul{
    display: flex;
}
ul li{
    flex-grow: 1;
}
aside#related{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width:20vw;
}
body>footer{
    grid-column: 1/3;
    margin:0;
}